/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --primaryColor: #3fd0d4;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.25rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-secondary);
  margin-left: auto;
  margin-right: auto;
}
/*  global classes */
.menu-item {
  display: grid;
  max-width: 25rem;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 90vw;
  margin: 0 auto 2rem;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  justify-items: center;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
  z-index: 100;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(./hero-bcg.jpeg) center/cover no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container h1,
h4 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.title h2 {
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
#about,
#services,
#tours {
  min-height: 100vh;
}
#services {
  background: var(--clr-white);
}
footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

.photo {
  object-fit: cover;
  height: 15rem;
  border: 0.25rem solid var(--clr-secondary);
  border-radius: var(--radius) var(--radius) 0 0;
}
.project-footer {
  padding: 0.5rem 1.5rem;
  text-align: center;
  background: var(--clr-secondary);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* category button */
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: var(--clr-secondary);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: var(--radius);
  padding: 0.375rem 0.75rem;
  color: var(--clr-secondary);
  cursor: pointer;
  transition: var(--transition);
}
.filter-btn:hover {
  background: var(--clr-secondary);
  color: var(--clr-white);
}
.image-wrapper {
  position: relative;
}

#hover-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(29, 106, 154, 0.72); */
  background: rgba(64, 207, 212, 0.82);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  border-radius: var(--radius) var(--radius) 0 0;
  height: 15rem;
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.image-wrapper:hover #hover-content {
  visibility: visible;
  opacity: 1;
}

.about-content {
  /* margin-top: 20px; */
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: ; */
}

/*************** contact ***************/
.input-group {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.form-control {
  flex: 1 1 auto;
  margin-bottom: 15px;
}
.form-control,
.btn-submit {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: var(--mainSpacing);
  background: transparent;
  text-transform: uppercase;
  outline: none;
  border: 2px solid var(--primaryColor);
  border-left: 2px solid var(--primaryColor);
  border-radius: 7px;
}
textarea {
  resize: none;
  height: 150px;
}
textarea,
input {
  font-family: Arial;
  letter-spacing: normal !important;
  text-transform: none !important;
}
/* textarea::placeholder {
  color: inherit;
  font-weight: 200;
  font-size: 12px;
} */
.btn-submit {
  cursor: pointer;
  transition: var(--mainTransition);
}
.btn-submit:hover {
  color: var(--mainWhite);
  background: var(--primaryColor);
}
/***************end of contact ***************/
